<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        | Diabetes Diagnosis
    </title>

</head>

<body style="background-color: deepskyblue;  margin: 0 0 0; text-align: center">

    <p id="head_bar"
        style="background-color: dodgerblue; margin : 0 0 0; opacity: 0.8; color: deepblue; font: bold 22.5px Times New Roman, serif; text-align: center; border: solid 7.5px lightblue; border-radius: 10px">

        <a href="{{url_for('home')}}">
            <img src="{{url_for('static', filename = '/images/Diabetes_AI_Icon.png')}}" width="125" ; height="125">
        </a>

    </p>

    <br><br>

    <form action="/step2" method="post"
        style="text-align: center; font: bold 20px Tahoma, sans-serif; background-color: dodgerblue; margin : auto; opacity: 0.9; width: 90%; border: solid 10px darkblue; border-radius: 20px; background-image: url('/static/images/Diabetes_Background.jpg'); background-position: center">

        <br>

        <div>
            <label for="BMI" class="form-label">1. Enter your BMI (kg/m2)</label>

            <br>
            <p style="font: 20px Tahoma, sans-serif;">

                <select class="form-control" name="BMI" style="text-align: center;">

                    {% for i in bmi%}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}

                </select>

            </p>

        </div>

        <br>

        <div>
            <label for="Age" class="form-label">2. Enter your Age</label>

            <br>

            <p style="font: 20px Tahoma, sans-serif;">

                <select class="form-control" name="Age" style="text-align: center;">

                    {% for i in age%}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}

                </select>

            </p>

        </div>

        <button type="submit" class="btn btn-primary" style = "font-size: 15px">Submit</button>

        <br><br>

    </form>

</body>

</html>